{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1>Projet Dimo Diganostic</h1>
        <h2>Bonjour Youcef</h2>
    </div>
    

{% endblock %}
